<div class= "vote-form">
<form action='/<%= post_type %>/<%= post_id %>/vote' method='post'>
  <input class="upvote" type="submit" name="upvote" value="1">
  <input class = "downvote" type="submit" name="downvote" value="-1">
</form>
</div>