a {
  text-decoration: none;
}

body {
margin : 0;
padding : 0;
text-align : center;
font-family: "Open Sans";;
}

h1 {
  font-family: 'Patua One', cursive;
  font-size: 70px;
  color: #ff6666;
}

h2 {
  color: #4d4d4d;
  font-size: 25px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: 'Patua One', cursive;
}

h3 {
  text-align: center;
}

header {
  margin-bottom: 10px;
  text-decoration: none;
}

header h1 {
  display: inline-block;
	font-size: 70px;
  font-weight: bold;
  color: gray;
  margin-top: -25px;
  float: right;
  font-family: 'Patua One', cursive;

}

header h2 {
	color: #31A9B8;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 0px;
  font-family: 'Pacifico', cursive;

}

img {
  width: 100%;
}

#categories li {
  text-decoration: none;
  list-style: none;
  display: block;
  width: 39%;
  float: left;
  margin-left: 30px;
  padding: 0;
  margin-top: -5px;
}

nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background: gray;
}

nav a {
    float: left;
    background-color: gray;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #111;
}

ul{

  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

ul li {
  margin-left: 0em;
  float: left;
  width: 50%;
}

.page-wrapper {
position : relative;
margin : 0 auto;
padding : 0 3px;
width : 700px;
text-align : left;
width : 594px;
}

#box {
  background: url("https://d13yacurqjgara.cloudfront.net/users/12329/screenshots/586896/brain-patterns.png");
  height: 40px;
  width: 100%;
  margin-top: 65px;
  display: block;
}

#categories {
  position: absolute;
  text-align: center;
  margin-top: 100px;
  width: 100%;
}

#categories ul {
  margin-left: 2em;
}

.comments {
  border-top: solid 2px gray;
  border-bottom: solid 2px gray;
}
.comments p { font-style: italic;

}
.form-group{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group textarea,
.form-group select {
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    color:#8a97a0;
    margin-bottom: 20px;
}

.form-group input[type="submit"],
.form-group input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #31A9B8;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    margin-bottom: 10px;
}
.form-group input[type="submit"]:hover,
.form-group input[type="button"]:hover
{
    background: gray;
}

.page-titles {
  border-left: solid 10px #31A9B8;
}

.page-titles h2 {
  padding-left: 10px;
  color: #31A9B8;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0px;
  margin-left: 5px;
  font-family: 'Patua One', cursive;
}

/*.comment {
  border: dotted 1px black;
}*/

.score {
  color: red;
}

.question {
  border: dotted 1px blue;
}

.answer {
  border: dotted 1px green;
}

.user_highlight {
  background-color: lightgray;
}

@media (max-width: 600px) {
  h1 {
    font-size: 40px;
    margin-top: 0px;
  }

  header h1 {
	  font-size: 40px;
    line-height: 1em;
    margin-left: 100px;
    margin-top: 2px;
    min-height: 40px;
    float: none;
  }

  header h2 {
    font-size: 30px;
    max-width: 310px;
    margin-left: 20px;
    margin-top: 10px;
  }

  .page-wrapper {
    width: 380px;
  }

  #box {
    margin-top: -20px;
  }

  #categories li {
    float: none;
    width: 100%;
    font-size: 13px;
    margin-left: -25px;
  }
}


