<% answers.each do |answer| %>
  <div class="question">
    <%= erb :'_question_title', layout: false, locals: { question: answer.question } %>
    <div class="answer user_highlight">
      <%= erb :'_answer_content', layout: false, locals: { answer: answer } %>
      </a>
    </div>
  </div>
<% end %>
