<% comments.each do |comment| %>
  <div class="question">
    <h4 class="post_title"><%= comment.post.title %></h4>
    <div class="user_highlight">
      <%= erb :'_comment_without_attribution', layout: false, locals: { comment: comment, question_id: comment.post.id } %>
    </div>
  </div>
<% end %>
