<h3> Login </h3>

<div class="form-group">
  <form method="post" action="/login">
    <label for="email">Email:</label>
    <input type="text" name="email">
    <label for="password">Password:</label>
    <input type="password" name= "password">
    <input type="submit" value="Login" class="btn btn-default">
  </form>
</div>

