<h3> Login </h3>

<% if @errors %>
  <span><%= @errors %></span>
<% end %>

<form class="form-group">
<form method="post" action="/users/login">
  <label for="email">Email:</label>
  <input type="email" name="email" value="<%= @email %>">
  <label for="password">Password:</label>
  <input type="password" name= "password">
  <input type="submit" value="Login" class="btn btn-default">
</form>

