<h3>Register a New Account</h3>

<% if @errors %>
  <% @errors.each do |error| %>
  <ul>
    <li><%= error %></li>
  </ul>
  <% end %>
<% end %>

<div class="form-group">
  <form method="post" action="/users">
    <label for="username">Username:</label>
    <input id="username_input" name="user[username]" type="text" value="<%= @user.try(:username) %>">
    <label for="email">Email:</label>
    <input id="email_input" name="user[email]" type="text" value="<%= @user.try(:email) %>">

    <label for="password">Password:</label>
    <input id="password_input" name="user[password]" type="password" value="<%= @user.try(:password) %>">

    <input type="submit" value="Register Me" class="btn btn-default">
  </form>
</div>