<p class="comment-text">
<span class="actual-comment">
  "<%= comment.content %>" - 
  </span>
  posted on <span class="posted-at"> <%= comment.created_at.to_s[0..9] %>
  <span class="posted-by"> by 
  <a class="user-link"href='/users/<%= comment.user.id %>'><%= comment.user.username %></a>
  </span>
</p>

