<form action="<%= post_type %>/<%= post_id %>/comment MAYBE" method="POST">
   <fieldset>
     <input name="comment" type="text" placeholder="enter comment here">
     <input type="submit" value="submit">
   </fieldset>
</form>

<!-- wasn't sure how to keep these in the same view but not display it so I separated
I can do it using AJAX but not without.. womp womp -->