<div class="question">
  <p class="post_title"><span class="score"><%= question.score %></span> - <a href="/questions/<%= question.id %>">
    <% if question.user.username == "Anonymous" %>
      [This Question was deleted by user]
    <% else %>
      <%= question.title %>
    <% end %></a>
  </p>
</div>